<nav class="navbar navbar-expand navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="//59.110.141.38:3000/">意栈网</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" href="/">社区</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="//59.110.141.38:3000/create">设计</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="//59.110.141.38:3000/shop">购物</a>
      </li>
    </ul>
    <a href="/feed/new" class="btn btn-outline-success btn-sm">发布Case</a>
  </div>
</nav>
