<link href="//cdn.quilljs.com/1.3.3/quill.snow.css" rel="stylesheet">
<div class="create-feed">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="//59.110.141.38:3000">意栈网</a></li>
    <li class="breadcrumb-item"><a href="/">Show Case</a></li>
    <li class="breadcrumb-item active">创建新Show Case</li>
  </ol>
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <form id="post-form" action="/feed" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="title-input">标题</label>
              <input name="title" class="form-control" id="title-input" placeholder="标题">
            </div>
            <div class="form-group">
              <label for="image-upload">添加图片</label>
              <input name="images" type="file" multiple class="form-control-file" id="image-upload">
            </div>
            <div class="form-group">
              <label>内容</label>
              <div id="post-editor"></div>
            </div>
            <input name="content" id="content-input" style="display: none;">
            <button type="submit" class="btn btn-primary">发布</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4 sticky-top">
      {{> recommendedArticles}}
    </div>
  </div>
</div>
